.full-width {
    width: 100%;
}

.login-register {
    padding: 1rem;
}

.notification > .errors-list {
    margin-left: 1rem;
    font-size: .85rem;
}

.hidden {
    display: none;
}

.message .created-date {
    padding-bottom: .5rem;
}

#map {
    height: 200px;
    width: 100%;
}

.offer .offer-content {
    margin: .5rem;
}
.offer .offer-list {
    margin: 1rem;
}
.offer .offer-list dl {
    font-size: .85rem;
}
.offer .offer-list dt {
    font-weight: bold;
}

.hero {
    background-color:#FA745E;
    
}

.hero h1, .hero h2{

    color:white;
}


/* .navbar{
    background-color:#00FF8E;
}
 */
.footer {
    background-color: #fa745e;
    color: #fff;
    padding: 3rem 1.5rem 3rem !important;
}
.footer a {
    color: #fff;
}
.message-header{
    background-color:#7F5C56;
}

.offers .indice {
    font-size: 20px;
}

.offers .watch {
    margin-top: 1rem;
}